{% extends 'base_layout.html'%}

{% block content%}

<h2>Log In</h2>
<!--TODO decide if i should do action url like this or like in signups.html-->
<form class="site-form" action="/user/login/" method="post">
  {% csrf_token %}
  {{ form }}
  <!-- TODO use similar get requests to redirect properly after trying to view a page that requires login-->
  {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next}}">
  {% endif %}
  <input type = "submit" value = "Log In">
</form>

{% endblock %}
