{% extends 'base_layout.html'%}

{% block content%}

{% load static from staticfiles %}

<div class="section-wrapper">
  <div class="posts-header">
      <!--TODO: "ALL should be replaced by the filter. Example: "Recent" or "Nearby" or "Project" Posts-->
    <h1>All Posts</h1>
    <div class='post-divide'></div>
  </div>

  <div class="newpost">
    {% if user.is_authenticated %}
    <button class="collapsible-toggle">New Post...</button>
    <div class="newpost-collapsible">
      <!-- TODO format this as a grid -->
      <form class='site-form' action='/posts/' method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form }} <!-- TODO get this formatted omb-->
        <div class="form-submit" style="margin-left: 0px; border-top: none;">
          <input type='submit' value='Post'>
        </div>
      </form>
    </div>
    {% else %}
    <p style="color: #b0c4de"><a href="/user/login/" method='post'>Login</a> or <a href="/user/signup/" method='post'>Register</a> to Create New Post</p>
    {% endif %}
    <div class='post-divide'></div>
  </div>

    {% if posts %} <!-- Are there any posts?-->
      {% for post in posts %}
        <div class="post">
          <p><!--Just adding a space--></p>
          <h3 style="display:inline;"><a class="post-title" href="{% url 'posts:detail' slug=post.slug %}">{{post.title}}</a></h3>
          <span class="post-info" style="float:right; display:inline;">{{post.type}}</span>
            <p>
            {% if post.body|length < 222 %}
              <p>{{post.body}}</p>
              <!-- TODO try making a long post expandable using javascript-->
            {% else %}
            <!-- TODO make elipses grey -->
            <!-- TODO if possible, clicking on elipses should expand post in page -->
              {{post.snippet}}<a href="#">  . . . </a>
            {% endif %}
            {% if post.musicembed %}
              </p>
              <p>
              {% autoescape off %}
                {{post.musicembed|safe}}
              {% endautoescape %}
            {% endif %}
            </p>
          <p class="post-info">Posted by <a class="footnote-link" href="{% url 'user:view' slug=post.authorslug %}">{{post.author}}</a>
            {% if post.page %}
            <!--TODO once groups are added make this href detect whether its a user or group-->
              to <a class="footnote-link" href="{% url 'user:view' slug=post.page.slug %}">{{post.page}}</a>
            {% else %}
              to All
            {% endif %}
            on {{post.date}}
          </p>
          <div class='post-divide'></div>
        </div>
      {% endfor %}
    {% else %}
      <h4 class='no-posts'>No Posts Here</h4>
    {% endif %}
</div>

<script src="{% static 'post-input.js'%}"></script>

{% endblock %}
