/* basic elements */
header{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0px 10px;
}

body {
	background-color: #f5fffa;
	margin:0;
	padding:0 0 0 0;
	text-align: left;
	}

	/*TODO change font*/

p {
	font: 13px verdana;
	text-align: left;
	}

a:link {
	text-decoration:none;
	}

a:visited {
	text-decoration:none;
	}

a:hover {
	color: #000080;
	}

/*header formatting*/
.toolbar-wrapper{
	width:100%;
	min-width: 350px;
	padding-top: 0;
	height: 80px;
	z-index:1001;
	position: fixed;
	background:#87ceeb;
	border-bottom: 3px solid #4682b4;
}

.logo{

}

.logo img.resize {
		height: 100px;
    width:auto;
}

nav{
	justify-self: end;
	padding-right: 20px;
}

nav li{
	display: inline-block;
}

.user-options{
	display: inline-block;
}

.content-wrapper{
	padding-top: 99px;
}


/* major body divs */
.home-wrapper{
/*this will contain the sidebars and such*/
}

.page-wrapper{
	width:90%;
	min-width: 420px;
	max-width: 1111px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	background-color: #fff;
	border: 3px solid #4682b4;
	border-radius: 4px;
}

.page-view{
	padding: 10px;
	display: grid;
	grid-template-columns: 200px 200px 200px auto;
	grid-template-rows: 40px 40px 40px 69px auto;
	grid-column-gap: 20px;
	grid-row-gap: 5px;
}


/* edit page */

.edit-page{
	padding: 10px;
	display: grid;
	grid-template-columns: 200px 200px 200px auto;
	grid-template-rows: 40px 40px auto 130px auto;
	grid-column-gap: 20px;
	grid-row-gap: 5px;
}

.page-image{
	grid-area: 1 / 1 / 2 / 2
}

.page-image img{
	border: 3px solid #4682b4;
}

.change-image{
		margin-top: 150px;
		width: 200px;
		z-index: 498; position:relative;
		background: #fff;
		border: 2px dashed #e3e4e0;
}

.change-image input{
		z-index: 499; position:relative;
		height: auto;
}

.page-title{
	grid-area: 1 / 2 / 2 / 5
}

.page-title-edit{
	grid-area: 2 / 2 / 3 / 5
}

.page-title h2 {
	padding: none;
	margin: 10px 0 5px 0;
}

.page-title-enter{
	padding-left: 70px;
	padding-top: 10px;
	margin: 3px 0 5px 0;
	grid-area: 2 / 2 / 3 / 5
}

.page-title-enter input{
	z-index: 500; position:relative;
	width: 250px;
}

.page-description{
	padding-top: 5px;
	grid-area: 4 / 2 / 6 / 5
}

.page-description-edit{
	padding-top: 5px;
	grid-area: 3 / 2 / 5 / 5
}

.page-description-edit h4 {
	padding: none;
	margin: 5px 0 5px 0;
}

.page-description-enter{
	padding-left: 70px;
	margin: 3px 0 5px 0;
	grid-area: 3 / 2 / 5 / 5
}

.page-description-enter input{
	width: 90%;
	z-index: 500; position:relative;
}

.page-description p{
		margin: 5px 0 30px 0;
}

.page-music{
	grid-area: 5 / 1 / 6 / 2
}

.user-role{
	grid-area: 2 / 2 / 3 / 4
}

.user-genre{
	grid-area: 3 / 2 / 4 / 4
}

.user-location{
	grid-area: 2 / 4 / 3 / 6
}

.user-availability{
	grid-area: 3 / 4 / 4 / 6
}

.page-tab{
  color: #444;
  cursor: pointer;
  padding: 11px 0px 11px 0px;
  width: 150px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
	transition:0.2s;
}

.page-tab:hover{
	 	background-color: #c9e9f6;
}

/* divs for sections */
.section-wrapper {
	background:#fff;
	width:90%;
	min-width: 420px;
	max-width: 1111px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	padding-top: 0px;
	border: 3px solid #4682b4;
	border-radius: 4px;
	}

.section-header{
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	color: #4682b4;
	}

/* divs for posts */
.post-title {
	color: #4682b4;
	}

.newpost {
  padding-left:10px;
	padding-right:10px;
	background: transparent top left;
}

.newpost h3 h4 {
	width: 20%;
}

.collapsible-toggle {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 11px 0px 11px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
	transition:0.2s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible-toggle.active {
  background-color: #eee;
}

.collapsible-toggle:hover{
	 	background-color: #c9e9f6;
}

.newpost-collapsible {
  padding: 0 18px;
  /* TODO: Try this using display insdead of opacity/max height, like follows: display: none; */
  overflow: hidden;
	display:none;
	/* opacity:0;
	max-height:0; */

}

.newpost-collapsible.show {
  padding: 0 18px;
  /* TODO: Try this using display insdead of opacity/max height, like follows: display: none; */
  overflow: hidden;
	display:grid;
	/* opacity:1;
	max-height:500px; */
	border-left: 1px solid #e3e4e0;
	border-right: 1px solid #e3e4e0
}

.post {
  padding-left:10px;
	padding-right:10px;
	background: transparent top left;
}

.post-info {
	font: 10px verdana;
	color: #b0c4de;
}

.post-divide {
	border-bottom:1px solid #e3e4e0;
}

.no-posts {
	padding-left: 10px;
}


/* General Forms*/

.form-format{
	background:#fff;
	width:90%;
	min-width: 420px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
	border:1px solid #e3e4e0;
	border-radius: 3px;
}

.form-title{
	color: #4169e1;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #e3e4e0;
}

.site-form{ /* this is just the django generated form */
}

.site-form label{

}

.site-form input, .site-form textarea, .site-form select{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	background:transparent top left;
	border-bottom:1px solid #e3e4e0;
}

.site-form input[type="submit"]{
	font-size: 1.2em;
	border-radius:4px;
}

.helptext, .helptext ul{
	margin: 0;
	padding-bottom: 10px;
	color: #bebebe;
	font-size: 0.9em;
	display:block;
}

.errorlist{
	padding: 0;
	margin: 0;
}

.errorlist li{
	padding: 0;
	list-style-type: none;
	color: #ff5722;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

.form-submit{
	color: #4169e1;
	margin: 10px;
	border-top:1px solid #e3e4e0;
}

.form-submit input:hover{
	cursor: pointer;
	transition:0.2s;
	background-color: #c9e9f6;
}

/* footer */
footer {
	text-align:center;
	margin: 10px 40px 0 335px;
	padding-bottom:10px;
	width: 365px;
	font: 10px verdana;
}
